<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="d-flex flex-grow-1">
    <span class="w-100 d-lg-none d-block"
      ><!-- hidden spacer to center brand on mobile --></span
    >
    <a href="#" class="navbar-brand">Trackrr</a>
    <div class="w-100 text-right">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarLandingPage"
        aria-controls="navbarLandingPage"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>

  <div
    class="collapse navbar-collapse flex-grow-1 text-right"
    id="navbarLandingPage"
  >
    <!-- <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul> -->

    <ul class="navbar-nav ml-auto flex-nowrap">
      <li class="nav-item">
        <a class="nav-link" href="#"
          >Login<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">My Profile</a>
      </li>
    </ul>
  </div>
</nav>
